doctype html
html
	head
		link(rel="stylesheet", href="style.css")
body
	p
		MORO
	div#container
		each im in images
			div#img 
				img(src=im.path)

				if im.caption
					div#text 
						= im.caption
				else
					div#text
						= "No caption"